<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <button id="modal-question" class="btn btn-success" data-title="ARE YOU SURE?">Open modal</button>
                <p id="search-form-text">Search for tasks</p>
                <p id="search-form-subtext">(if you r not afraid, of course)</p>
                <form id="search-form" class="navbar-form navbar-left center-block">
                    <div class="form-group">
                        <input id="search-form-field" name="query" type="text" class="form-control" placeholder="Search">
                    </div>
                    <button id="search-form-submit" type="submit" class="btn btn-default">Search</button>
                </form>
            </div>
        </div>
    </div>
</div>