<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- build:css styles.min.css -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <!-- endbuild -->
</head>
<body>
<div id="modal-window" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>
<%- partial('partials/navbar') %>
<%- body -%>
<!-- build:js scripts.min.js -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="js/script.js"></script>
<!-- endbuild -->
</body>
</html>

<script id="modal-question-template" type="text/x-modal-template">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title"></h3>
    </div>
    <div class="modal-footer">
        <button type="button" id="no-delete" class="btn btn-default">NO</button>
        <button type="button" id="yes-delete" class="btn btn-primary">YES</button>
    </div>
</script>
