<% layout('boilerplate') -%>

<% include partials/search.ejs %>
<div class="container">
    <div class="row">
        <div id="task-container" class="col-sm-12">
            <% include partials/tasks.ejs%>
        </div>
    </div>
</div>
